.grid {
    background-color: #aaa;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.grid-header {
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.grid-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}