.meter-input {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    &__type {
        width: 30%;
    }

    &__previous {
        width: 20%;
    }

    &__current {
        width: 20%;
        display: block;
    }

    &__button{
        width: 30%;
    }
}